<app-banner-vitoria></app-banner-vitoria>

<div class="row">
  <div class="col-xl-12">
      <div class="input-group mb-2 mr-sm-2 input-group-lg">
          <div class="input-group-prepend">
            <div class="input-group-text posicao">1 º</div>
          </div>
          <input type="text" class="form-control textoVencedor" value="{{filmesVencedores[0].Titulo}}" readonly>
        </div>
  </div>
</div>

<div class="row">
    <div class="col-xl-12">
        <div class="input-group mb-2 mr-sm-2 input-group-lg">
            <div class="input-group-prepend">
              <div class="input-group-text posicao">2 º</div>
            </div>
            <input type="text" class="form-control textoVencedor" value="{{filmesVencedores[1].Titulo}}" readonly>
          </div>
    </div>
  </div>